.container {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.wrapper {
	display: flex;
	gap: 2rem;

	a {
		width: 25%;
		flex-shrink: 0;
		border: 1px solid black;

		img {
			width: 100%;
		}
	}
}
